{% block body %}

    <div class="container mt-3">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success">
                <strong>{{ flash_message }}!!!</strong> A product has been added to the list.!!!
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                <strong>{{ flash_message }}!!!</strong> A product has been removed from the list.!!!
            </div>
        {% endfor %}</div>

    <footer id="footer" class="bg text-black py-5" style="background: white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <h4 class="font-rubik font-size-20">C&C by KN</h4>
                </div>
                <div class="col-lg-4 col-12">
                    <h4 class="font-rubik font-size-20">Newslatter</h4>
                    <form class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email *">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-12">
                    <h4 class="font-rubik font-size-20">Information</h4>
                    <div class="d-flex flex-column flex-wrap">
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">About Us</a>
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">Delivery Information</a>
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">Privacy Policy</a>
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">Terms & Conditions</a>
                    </div>
                </div>
                <div class="col-lg-2 col-12">
                    <h4 class="font-rubik font-size-20">Account</h4>
                    <div class="d-flex flex-column flex-wrap">
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">My Account</a>
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">Order History</a>
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">Wish List</a>
                        <a href="#" class="font-rale font-size-14 text-black-50 pb-1">Newslatters</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright text-center text-black py-2" style="background: #f8f5f0">
        <p class="font-rale font-size-14">&copy; Copyrights 2023. Desing By <a href="#" class="color-second" style="color: red; text-decoration: none;  font-weight: bold">KN</a></p>
    </div>
    <style>
        .font-rale {
            text-decoration: none;
        }
    </style>
{% endblock %}